.userprofilepage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-square{
    display: flex;
    max-height: 80vh;
    overflow-y: auto;
    width: 700px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px 3px #45b6fe;
    background-color: white;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
}

.required{
    color: red;
    font-size: 15px;
}

.instruction{
    font-style: italic;
    font-size: 20px;
}

.pad-10{
    padding: 10px;
}

.inputbox{
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    height: 20px;
}

.state-box{
    border-radius: 10px;
    padding: 5px;
    width: 600px;
    height: 30px;
}

.selectbox{
    border-radius: 10px;
    width: 600px;
    height: 100px;
    border-style: solid;
}

.pad-10 button{
    background-color: '#28a745',
    /* borderRadius: '20px',
    cursor: 'pointer',
    marginRight: '10px',
    fontSize: '1em' */
}

.selected-skills, .selected-availability {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.skill-item, .availability-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    /* display: inline-block; */
    padding: 5px 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

.remove-skill, .remove-availability {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    margin-left: 8px;
}
